* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

html {
  background-color: #1d1d1d;
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

a {
  background: transparent;
  color: #ef4136;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

mark {
  background: yellow;
  color: black;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
}

q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  color: white;
  height: 100%;
}

section,
body > header {
  min-height: 100%;
  padding: 5em 0;
}

body > header {
  display: flex;
  align-items: center;
  justify-content: center;
}
body > header figure {
  border: 5px solid black;
  color: black;
  display: inline-block;
  font-family: "ProximaNova-Extrabld", sans-serif;
  font-size: 3em;
  line-height: 0.9;
  padding: 0.25em;
  position: relative;
  text-align: left;
  text-transform: uppercase;
}
body > header figure:before, body > header figure:after {
  content: url("/img/corgi-nt.svg");
  margin-bottom: -0.65em;
  position: absolute;
  bottom: 100%;
  right: -1.2em;
  z-index: -1;
}
body > header figure:after {
  content: url("/img/corgi-t.svg");
  z-index: 1;
}
body > header figure span {
  display: block;
  font-weight: 700;
}
body > header figure span:last-of-type {
  color: #ef4136;
  font-size: 1.1em;
}

nav {
  background: #111111;
  font-size: 0.1px;
  position: absolute;
  left: 0;
  bottom: 0;
  text-align: center;
  z-index: 2;
  width: 100%;
}
nav.stuck {
  position: fixed;
  top: 0;
  bottom: auto;
}
nav a {
  color: white;
  display: inline-block;
  font-family: "ProximaNova-Regular", sans-serif;
  font-size: 0.9rem;
  padding: 0.75em 1em;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: background-color 300ms ease-in-out;
  -moz-transition: background-color 300ms ease-in-out;
  transition: background-color 300ms ease-in-out;
}
nav a:hover, nav a:focus, nav a:active {
  background: #ef4136;
  outline: none;
}
nav a#btt {
  margin-top: -1.3em;
  padding: 1.3em 1.75em;
  position: absolute;
  top: 50%;
  right: 0;
}
nav a#btt:before {
  border-bottom: 10px solid white;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  content: "";
  margin-top: -5px;
  margin-right: -7px;
  position: absolute;
  top: 50%;
  right: 50%;
}

section:nth-of-type(1) {
  background: #222222;
}
section:nth-of-type(2) {
  background: #272727;
}
section:nth-of-type(3) {
  background: #2c2c2c;
}
section:nth-of-type(4) {
  background: #313131;
}
section h2 {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  text-align: left;
}

form button[type="submit"] {
  background: none;
  border: 2px solid white;
  color: white;
  cursor: pointer;
  margin-top: 1.5em;
  padding: 0.75em 1.5em;
  text-transform: uppercase;
  -webkit-transition: border-color 300ms ease, color 300ms ease;
  -moz-transition: border-color 300ms ease, color 300ms ease;
  transition: border-color 300ms ease, color 300ms ease;
}
form button[type="submit"]:hover, form button[type="submit"]:focus, form button[type="submit"]:active {
  border-color: #ef4136;
  color: #ef4136;
}
form input, form textarea {
  background: #1d1d1d;
  border: none;
  border-bottom: 1px solid transparent;
  color: #dddddd;
  outline: none;
  padding: 0.75em;
  -webkit-transition: border-color 300ms ease-in-out, color 300ms ease-in-out;
  -moz-transition: border-color 300ms ease-in-out, color 300ms ease-in-out;
  transition: border-color 300ms ease-in-out, color 300ms ease-in-out;
  width: 100%;
}
form input:hover, form input:focus, form input:active, form textarea:hover, form textarea:focus, form textarea:active {
  border-bottom: 1px solid #ef4136;
  color: white;
}
form input::-webkit-input-placeholder, form textarea::-webkit-input-placeholder {
  color: #555555;
}
form label {
  color: #999999;
  display: block;
  font-weight: 700;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.accent {
  color: #ef4136;
}

.grid {
  *zoom: 1;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5em;
}
.grid:before, .grid:after {
  content: " ";
  display: table;
}
.grid:after {
  clear: both;
}
.grid:last-child {
  margin-bottom: 0;
}
.grid.block-1 .block {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  margin-bottom: 1.5em;
}
.grid.block-1 .block:last-child {
  margin-right: 0;
}
.grid.block-1 .block:nth-child(1n) {
  margin-right: 0;
}
.grid .cols-1 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 6.17215%;
}
.grid .cols-1:last-child {
  margin-right: 0;
}
.grid .offset-1 {
  margin-left: 8.5298%;
}
.grid.block-2 .block {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
  margin-bottom: 1.5em;
}
.grid.block-2 .block:last-child {
  margin-right: 0;
}
.grid.block-2 .block:nth-child(2n) {
  margin-right: 0;
}
.grid .cols-2 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 14.70196%;
}
.grid .cols-2:last-child {
  margin-right: 0;
}
.grid .offset-2 {
  margin-left: 17.05961%;
}
.grid.block-3 .block {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
  margin-bottom: 1.5em;
}
.grid.block-3 .block:last-child {
  margin-right: 0;
}
.grid.block-3 .block:nth-child(3n) {
  margin-right: 0;
}
.grid .cols-3 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%;
}
.grid .cols-3:last-child {
  margin-right: 0;
}
.grid .offset-3 {
  margin-left: 25.58941%;
}
.grid.block-4 .block {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%;
  margin-bottom: 1.5em;
}
.grid.block-4 .block:last-child {
  margin-right: 0;
}
.grid.block-4 .block:nth-child(4n) {
  margin-right: 0;
}
.grid .cols-4 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
}
.grid .cols-4:last-child {
  margin-right: 0;
}
.grid .offset-4 {
  margin-left: 34.11922%;
}
.grid.block-5 .block {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 18.11388%;
  margin-bottom: 1.5em;
}
.grid.block-5 .block:last-child {
  margin-right: 0;
}
.grid.block-5 .block:nth-child(5n) {
  margin-right: 0;
}
.grid .cols-5 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 40.29137%;
}
.grid .cols-5:last-child {
  margin-right: 0;
}
.grid .offset-5 {
  margin-left: 42.64902%;
}
.grid.block-6 .block {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 14.70196%;
  margin-bottom: 1.5em;
}
.grid.block-6 .block:last-child {
  margin-right: 0;
}
.grid.block-6 .block:nth-child(6n) {
  margin-right: 0;
}
.grid .cols-6 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
}
.grid .cols-6:last-child {
  margin-right: 0;
}
.grid .offset-6 {
  margin-left: 51.17883%;
}
.grid.block-7 .block {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 12.26487%;
  margin-bottom: 1.5em;
}
.grid.block-7 .block:last-child {
  margin-right: 0;
}
.grid.block-7 .block:nth-child(7n) {
  margin-right: 0;
}
.grid .cols-7 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 57.35098%;
}
.grid .cols-7:last-child {
  margin-right: 0;
}
.grid .offset-7 {
  margin-left: 59.70863%;
}
.grid.block-8 .block {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 10.43705%;
  margin-bottom: 1.5em;
}
.grid.block-8 .block:last-child {
  margin-right: 0;
}
.grid.block-8 .block:nth-child(8n) {
  margin-right: 0;
}
.grid .cols-8 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 65.88078%;
}
.grid .cols-8:last-child {
  margin-right: 0;
}
.grid .offset-8 {
  margin-left: 68.23843%;
}
.grid.block-9 .block {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 9.01542%;
  margin-bottom: 1.5em;
}
.grid.block-9 .block:last-child {
  margin-right: 0;
}
.grid.block-9 .block:nth-child(9n) {
  margin-right: 0;
}
.grid .cols-9 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 74.41059%;
}
.grid .cols-9:last-child {
  margin-right: 0;
}
.grid .offset-9 {
  margin-left: 76.76824%;
}
.grid.block-10 .block {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 7.87811%;
  margin-bottom: 1.5em;
}
.grid.block-10 .block:last-child {
  margin-right: 0;
}
.grid.block-10 .block:nth-child(10n) {
  margin-right: 0;
}
.grid .cols-10 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 82.94039%;
}
.grid .cols-10:last-child {
  margin-right: 0;
}
.grid .offset-10 {
  margin-left: 85.29804%;
}
.grid.block-11 .block {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 6.94759%;
  margin-bottom: 1.5em;
}
.grid.block-11 .block:last-child {
  margin-right: 0;
}
.grid.block-11 .block:nth-child(11n) {
  margin-right: 0;
}
.grid .cols-11 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 91.4702%;
}
.grid .cols-11:last-child {
  margin-right: 0;
}
.grid .offset-11 {
  margin-left: 93.82785%;
}
.grid.block-12 .block {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 6.17215%;
  margin-bottom: 1.5em;
}
.grid.block-12 .block:last-child {
  margin-right: 0;
}
.grid.block-12 .block:nth-child(12n) {
  margin-right: 0;
}
.grid .cols-12 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
}
.grid .cols-12:last-child {
  margin-right: 0;
}
.grid .offset-12 {
  margin-left: 102.35765%;
}
.grid .block .fa {
  text-decoration: none;
}

.pushdown {
  margin-top: 6.25em;
}

.t-right {
  text-align: right;
}

.t-left {
  text-align: left;
}

.t-center {
  text-align: center;
}

.table {
  border-collapse: collapse;
  display: table;
  width: 100%;
}
.table > * {
  display: table-cell;
}
.table .cell {
  display: table-cell;
  vertical-align: top;
}
.table .row {
  display: table-row;
}

.socializing a, .socializing h2 {
  display: inline-block;
}
.socializing a {
  font-size: 175%;
  margin-left: 0.25em;
  margin-right: 0.25em;
  text-decoration: none;
  vertical-align: middle;
  -webkit-transition: color 300ms ease;
  -moz-transition: color 300ms ease;
  transition: color 300ms ease;
}
.socializing a:hover {
  color: white;
}
.socializing a:last-of-type {
  margin-right: 0;
}
.socializing h2 {
  white-space: nowrap;
}
