// Variables

bg = #1d1d1d
accent = #FBB829
text = #FFF

fa-font-path = "/dist/fonts"
fa-li-width = 3.5em
font-stack = Clear, Helvetica, sans-serif

section-y-padding = 5em

::-webkit-scrollbar {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: lighten(bg, 20%);
    cursor: move;
}

::selection {
    background-color: rgba(accent, 0.3);
}

//! normalize.css v2.1.3 | MIT License | git.io/normalize

// Correct `block` display not defined in IE 8/9.

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}

// Correct `inline-block` display not defined in IE 8/9.

audio,
canvas,
video {
    display: inline-block;
}

// Prevent modern browsers from displaying `audio` without controls.
// Remove excess height in iOS 5 devices.

audio:not([controls]) {
    display: none;
    height: 0;
}

// Address `[hidden]` styling not present in IE 8/9.
// Hide the `template` element in IE, Safari, and Firefox < 22.

[hidden],
template {
    display: none;
}

// 1. Set default font family to sans-serif.
// 2. Prevent iOS text size adjust after orientation change, without disabling user zoom.

html {
    background-color: bg;
    font-family: font-stack;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

// Remove default margin.

body {
    margin: 0;
}

// Remove the gray background color from active links in IE 10.

a {
    background: transparent;
    color: accent;
}

// Address `outline` inconsistency between Chrome and other browsers.
//
// &:focus
//  outline: thin dotted

// Improve readability when focused and also mouse hovered in all browsers.
//
// &:active,
// &:hover
//  outline: 0

// Address variable `h1` font-size and margin within `section` and `article` contexts in Firefox 4+, Safari 5, and Chrome.

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

// Address styling not present in IE 8/9, Safari 5, and Chrome.

abbr[title] {
    border-bottom: 1px dotted;
}

// Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.

b,
strong {
    font-weight: 700;
}

// Address styling not present in Safari 5 and Chrome.

dfn {
    font-style: italic;
}

// Address differences between Firefox and other browsers.

hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
}

// Address styling not present in IE 8/9.

mark {
    background: yellow;
    color: black;
}

// Correct font family set oddly in Safari 5 and Chrome.

code,
kbd,
pre,
samp {
    font-family: monospace, serif;
    font-size: 1em;
}

// Improve readability of pre-formatted text in all browsers.

pre {
    white-space: pre-wrap;
}

// Set consistent quote types.

q {
    quotes: "\201C" "\201D" "\2018" "\2019";
}

// Address inconsistent and variable font size in all browsers.

small {
    font-size: 80%;
}

// Prevent `sub` and `sup` affecting `line-height` in all browsers.

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

// Remove border when inside `a` element in IE 8/9.

img {
    border: 0;
}

// Correct overflow displayed oddly in IE 9.

svg:not(:root) {
    overflow: hidden;
}

// Address margin not present in IE 8/9 and Safari 5.

figure {
    margin: 0;
}

// Define consistent border, margin, and padding.

fieldset {
    border: 1px solid silver;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

// 1. Correct `color` not being inherited in IE 8/9.
// 2. Remove padding so people aren't caught out if they zero out fieldsets.

legend {
    border: 0;
    padding: 0;
}

// 1. Correct font family not being inherited in all browsers.
// 2. Correct font size not being inherited in all browsers.
// 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.

button,
input,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    margin: 0;
}

// Address Firefox 4+ setting `line-height` on `input` using `!important` in the UA stylesheet.

button,
input {
    line-height: normal;
}

// Address inconsistent `text-transform` inheritance for `button` and `select`.
// All other form control elements do not inherit `text-transform` values.
// Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
// Correct `select` style inheritance in Firefox 4+ and Opera.

button,
select {
    text-transform: none;
}

// 1. Avoid the WebKit bug in Android 4.0.//where (2) destroys native `audio` and `video` controls.
// 2. Correct inability to style clickable `input` types in iOS.
// 3. Improve usability and consistency of cursor style between image-type `input` and others.

button,
html input[type="button"], // 1 {}
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

// Re-set default cursor for disabled elements.

button[disabled],
html input[disabled] {
    cursor: default;
}

// 1. Address box sizing set to `content-box` in IE 8/9/10.
// 2. Remove excess padding in IE 8/9/10.

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

// 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
// 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome (include `-moz` to future-proof).

input[type="search"] {
    -webkit-appearance: textfield;
    box-sizing: content-box;
}

// Remove inner padding and search cancel button in Safari 5 and Chrome on OS X.

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

// Remove inner padding and border in Firefox 4+.

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

// 1. Remove default vertical scrollbar in IE 8/9.
// 2. Improve readability and alignment in all browsers.

textarea {
    overflow: auto;
    vertical-align: top;
}

// Remove most spacing between table cells.

table {
    border-collapse: collapse;
    border-spacing: 0;
}

// THIS IS REAL LYFE //

@font-face {
    font-family: Clear;
    font-weight: normal;
    font-style: normal;
    src: url("../../dist/fonts/ClearSans-Regular.woff2") format("woff2"),
         url("../../dist/fonts/ClearSans-Regular.woff") format("woff");
}

@font-face {
    font-family: Clear;
    font-weight: normal;
    font-style: italic;
    src: url("../../dist/fonts/ClearSans-Italic.woff2") format("woff2"),
         url("../../dist/fonts/ClearSans-Italic.woff") format("woff");
}

@font-face {
    font-family: Clear;
    font-weight: bold;
    font-style: normal;
    src: url("../..//dist/fonts/ClearSans-Bold.woff2") format("woff2"),
         url("../..//dist/fonts/ClearSans-Bold.woff") format("woff");
}

@keyframes puppy {
    0% {
        transform: scale3d(1, 1, 1) translate3d(0, 0, 0) rotate(0);
    }

    25% {
        transform: scale3d(1.01, 1.01, 1) translate3d(0, 2px, 0) rotate(0.33deg);
    }

    50% {
        transform: scale3d(1.015, 1.015, 1) translate3d(0, 4px, 0) rotate(0.66deg);
    }

    75% {
        transform: scale3d(1.01, 1.01, 1) translate3d(0, 2px, 0) rotate(0.33deg);
    }

    100% {
        transform: scale3d(1, 1, 1) translate3d(0, 0, 0) rotate(0);
    }
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    color: darken(text, 20%);
    line-height: 1.3;
    height: 100%;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    overflow-x: hidden;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    overflow: hidden;
    position: relative;

    figure {
        position: relative;

        &::before {
            content: url(../../dist/img/corgi-2x.svg);
        }

        span {
            display: block;
            font-weight: 700;

            &:last-of-type {
                color: accent;
                font-size: 1.1em;
            }
        }
    }
}

section {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;

    > * {
        flex: 1 1 33vw;
        padding: section-y-padding 5%;
    }

    for i in (1..5) {
        &:nth-of-type({i}) {
            background: lighten(bg, i * 2%);
        }
    }

    section {
        background: inherit !important;
    }

    a {
        transition: color 300ms ease;

        &:hover {
            color: text;
        }

        &:last-of-type {
            margin-right: 0;
        }
    }

    h2 {
        color: darken(text, 60%);
        flex-basis: auto;
        margin: 0 0 1em;
        padding: 0 5%;
        position: relative;
        text-transform: uppercase;

        &:last-child {
            margin: 0;
        }

        span {
            display: block;
            margin-bottom: 40px;
            position: relative;

            &::after {
                background: accent;
                content: '';
                height: 1px;
                width: 30px;
                position: absolute;
                left: 0;
                bottom: -20px;
            }
        }
    }

    article h2 {
        flex: none;
        padding: 0;
    }

    .fa + h2 {
        margin-top: 1em;
    }

    p:last-child {
        margin-bottom: 0;
    }
}

article,
blockquote {
    max-width: 800px;
    margin: 0 auto;
}

blockquote {
    cite {
        color: text;
        font-style: normal;
        margin-right: 0.5em;
    }

    a {
        text-decoration: none;
    }

    for i in (0..4) {
        &:nth-child({i+1}) {
            background: rgba(accent, i * 0.075);
        }
    }
}

code {
    background: lighten(bg, 25%);
    color: #FFF;
    padding: 0 0.25rem;
}

// Global classes + helpers

[aria-hidden] {
    display: none;
}

.accent {
    color: accent;
}

.centered {
    text-align: center;
}

#background {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    width: 100%;
    height: 100%;
}

@media (min-aspect-ratio: 16/9) {
    #background {
        top: -100%;
        height: 300%;
        width: 100%;
    }
}

@media (max-aspect-ratio: 16/9) {
    #background {
        height: 100%;
        width: 300%;
        left: -100%;
    }
}

#logo {
    animation: puppy 1s linear 0s infinite;
    backface-visibility: hidden;
    transform: scale3d(1, 1, 1);
}

#deets {
    align-items: flex-start;

    i {
        color: text;
    }
}

#about-me figure {
    align-self: stretch;
    background: accent url('../../dist/img/face.jpg') no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: multiply;
}

list-spacing = 3em

#projects {
    padding: 0;

    article {
        display: flex;
        align-content: flex-start;
        flex-wrap: wrap;
        max-width: 1200px;
        padding: section-y-padding 0 section-y-padding - (list-spacing);
    }

    h3 {
        margin-top: 0;
    }

    dl {
        align-self: flex-start;
        flex: 0 1 auto;
        margin: 0;
        padding: 0 5% list-spacing;
        width: 33%;
    }

    dt {
        color: darken(text, 50%);
        display: block;
        font-size: 0.85rem;
        font-weight: 700;
        margin: 0 0 1em;

        a {
            font-size: 1.25rem;
            margin-right: 0.25rem;
        }
    }

    dd {
        margin: 0;
    }
}

// Social Icons (last pane)

#contact {
    a,
    h2 {
        display: inline-block;
    }

    a {
        font-size: 175%;
        margin-left: 0.5em;
        margin-right: 0.5em;
        text-decoration: none;
        vertical-align: middle;
    }
}

.fs-5x {
    font-size: 500%;
}

// Media queries

@media all and (max-width: 750px) {
    header figure::before {
        content: url(../../dist/img/corgi.svg);
    }

    section {
        flex-direction: column;

        > * {
            flex-basis: auto;
            padding: 5% 15%;

            &:first-child {
                padding-top: 10%;
            }

            &:last-child {
                padding-bottom: 10%;
            }
        }

        h2 {
            flex-basis: auto !important;
            padding: 0 10%;
        }
    }

    #about-me {
        figure {
            height: 300px;
        }

        article {
            padding-top: 10%;
            padding-left: 10%;
            padding-right: 10%;
        }
    }

    #testimonials {
        blockquote {
            padding-left: 10%;
            padding-right: 10%;
        }
    }

    #projects {
        dl {
            width: 100%;
            padding-left: 10%;
            padding-right: 10%;
        }
    }

    #contact {
        article {
            display: flex;
            flex-wrap: wrap;
            padding-bottom: calc(10% - 2rem);

            > * {
                padding: 0 1.5rem 2rem;
            }
        }
    }
}
