@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply bg-zinc-900 text-blue-300 font-mono h-screen selection:text-blue-200;
}

body {
  @apply h-screen;
}

#app {
  @apply h-screen flex flex-col text-zinc-100 gap-10 mx-auto md:max-w-[100ch] px-8 md:px-16 py-10;
}

main {
  @apply flex flex-col gap-10 pb-10;
}

a {
  @apply text-blue-400 hover:text-blue-500 active:text-blue-600;
}

ul {
  @apply flex flex-col gap-3 list-disc ml-4 text-zinc-500;
}

.rainbow-text {
  background-image: linear-gradient(to right, #FF0000, #FFA500, #FFFF00, #008000, #0000FF, #4B0082, #8F00FF);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.rainbow-border {
  background: linear-gradient(rgb(4 24 27), rgb(4 24 27)) padding-box,
    linear-gradient(to right, #FF0000, #FFA500, #FFFF00, #008000, #0000FF, #4B0082, #8F00FF) border-box;
  border: 1px solid transparent;
}